html{
    scroll-behavior: smooth;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right top, white, rgb(221, 221, 243));
}
.up{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 0px;
    background-color: #b2afaf;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: black;
    border: 1px solid black;
}
.nav{
    height: 60px;
    width: 100%;
    background-color: #fffefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -10px 31px grey;
    position: fixed;
    top: 0px;
    left: 0px;
}
/* .nav_n{
    height: 60px;
    width: 100%;
    background-color: rgb(33, 33, 33);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -10px 31px rgb(160, 159, 159);
    position: fixed;
    top: 0px;
    left: 0px;
    color: white;
} */
.n1{
    height: 100%;
    width: 25%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 6px 3px 5px rgb(68, 67, 67);
}
/* .n1_n{
    height: 100%;
    width: 25%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 6px 3px 5px rgb(236, 233, 233);
} */
.n2{
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.same{
    height: 100vh;
    width: 60px;
    padding: 0px 10px;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}
/* .same :hover{
    background-color: #858181;
} */
.dl{
    height: 100%;
    width: auto;
    padding: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;

}
#darkmode{
    transition: 0.4s;

}
/* .n2 ul{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: black;
}
.n2 ul a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 500;    
} */
.main{
    height: 100%;
    width: 100%;
    padding-top: 60px;
}
.body{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.left{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}
#midn{
    height: 100%;
    width: 20%;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mid{
    color: rgb(255, 115, 0);
    background-color: #fff;
}
/* .mid_n{
    color: rgb(241, 158, 90);
    background-color: rgb(46, 45, 45);
} */
#midn span{
    font-size: 35px;
    font-weight: 700;
    text-shadow: 3px 6px 5px grey;
    text-decoration: underline;
}
.right{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#coden{
    height: calc(100% - 300px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
.code{
    background-color: white;
}
/* .code_n{
    background-color: black;
} */
.c{
    height: 33%;
    width: 98.5%;
    border-radius: 20px;
    box-shadow: 3px 3px 9px grey;
    padding: 30px 0px;
    display: flex;
    background-color: white;
}
/* .c_n{
    height: 33%;
    width: 98.5%;
    border-radius: 20px;
    box-shadow: 3px 3px 9px grey;
    padding: 30px 0px;
    display: flex;
    background-color: rgb(48, 46, 46);
    color: white;
} */
.c_left{
    padding-top: 15px;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.c_right{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px
}
.c_right ul{
    padding: 3%;
}
.c_right ul li{
    padding-bottom: 10px;
}
button{
    height: auto;
    width: auto;
    padding: 6px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(241, 197, 255);
    background-color: #eb6f1d;
}
.footer{
    height: 75px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;

}
.footer p {
    font-weight: 700;
    text-shadow: 8px 9px 8px rgb(158, 158, 158);
}